.header {
    max-width: 50em;
    padding: 2em;
    padding-left: 2em;
}

  
.total {
  text-align: center;
  padding: 1em;
  font-size: 1.2em;
}

.ingresos,.egresos {
  padding: 0.7em;
  width: 20em;
  font-size: 1.1em;
  margin-left: 5px;
  border-radius: 8px;
}

.ingresos {
  background-color: #4CAF50;
}

.egresos {
  background-color: #f44336;
}