<mat-card class="header">
    <mat-card-header>
        <mat-card-title><button mat-raised-button color="primary">Calcular Presupuesto</button></mat-card-title>
    </mat-card-header>
    <mat-card-content>
            <div class="total"><b>Total: {{presupuestoTotal | currency: 'ARS':'$':'1.2-2'}}</b></div>
        <div fxLayout="row wrap" fxLayoutAlign="center">
        <div class="ingresos">
            Ingresos: <b>{{ingresoTotal | currency: 'ARS':'$':'1.2-2'}}</b>
        </div>
        <div mat-flat-button color="warn" class="egresos" >
            Egresos: <b>-{{egresoTotal | currency: 'ARS':'$':'1.2-2'}} ({{porcentajeTotal | percent}})</b>
        </div>
    </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="resetTotal()" color="primary">Reiniciar</button>
    </mat-card-actions>
</mat-card>