<mat-card class="ingreso">
    <mat-card-header>
        <mat-card-title> <button mat-raised-button color="primary">Ingresos</button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let ingreso of ingresos" class="ingresos">
            {{ingreso.description}} -
            <span class="value">{{ingreso.value | currency: 'ARS':'$':'1.2-2'}}</span> <button class="ingresoDeleteBtn"
                (click)="deleteRegister(ingreso)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>

    </mat-card-content>
</mat-card>