.form {
    max-width: 50em;
    padding: 2em;
    background: #FFAB91;
    border: 1px solid;
    border-radius: 1em;
}

.select, .description, .value{
    margin-left: 0.8em;
    margin-right: 0.8em;
    max-width: 17em;
}
